<%= form_for(@payslip) do |f| %>
  <% if @payslip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payslip.errors.count, "error") %> prohibited this payslip from being saved:</h2>

      <ul>
      <% @payslip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
