<h1>Editing Job</h1>

<%= render 'form' %>



<div id="bottomMenu">


<%= link_to '<div class="bottomMenu">Show</div>'.html_safe, @job %>
 

<%= link_to '<div class="bottomMenu">Jobs</div>'.html_safe, jobs_path %>

  <div class= "bottomMenu">
  <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>


</div>

