<h1>Editing Job</h1>

<%= render 'form' %>



<div id="bottomMenu">


<%= link_to '<div class="bottomMenu">Back</div>'.html_safe, @job %>
 

<%= link_to '<div class="bottomMenu">Jobs</div>'.html_safe, jobs_path %>



</div>

