<h1>Editing User</h1>

<%= render 'form' %>


<div id="bottomMenu">
<%= link_to '<div class="bottomMenu">Back</div>'.html_safe, users_path %>
  <% if @current_user.boss %>
    <%= link_to '<div class="bottomMenu">Destroy</div>'.html_safe, @user, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>

