// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  box-sizing: border-box; 
}



#container{
  margin-top: 80px;
 
  width: 98%;
  margin-left: 1%;
  
}

label.loginPage{
  display:block;
}

#loginButton{
  width:15%;
  height: 50px;
  color: #2C3E50;
  margin-bottom: 40px;
  text-shadow:0px 1px 0px #e1e2ed;

  font-family:Arial;
  font-size:17px;


  
}





html, body{
  
  text-align: center;
  margin: 0;
  background: #5AAAE4;
  
  font-family: verdana, arial, helvetica, sans-serif;
    color: #333;
  
  font-size: 13px;
  line-height: 18px;
}

.container{
  padding-top: 50px;
}

h2{
  font-size: 6em;
  text-transform: uppercase;
}

nav{
  display: inline-block;
  width: 100%;
  p{
    display: inline-block;
    cursor: pointer;
    width: 20%;

  }
}

input{
  width: 33%;
  font-size: 1.3em;
  margin-bottom: 10px;
  height: 50px;
  text-align: center;
  
}

#password, #email{
  width: 25%;
}

input:focus{
  outline: 1px;
}

#mortals li{
  padding: 10px;
  list-style-type: none;
  text-transform: uppercase;
  display:inline-block;
  width: 20%;
  color: white;
  // background-color: lightblue;
}

#mortals li a{
  color:white;
  text-decoration: none;
}

#mortals{
    position: fixed;
  top: 0;
  left: 0;
  background-color: #2C3E50;
}

ul{
  padding: 0;
}

li{
  list-style-type: none;
}

.loginH2{
  font-size: 1em;
}

table{
  margin: 0 auto;
  margin-top: 10px;
  width: 33%;

}

table#jobListing{
  width: 70%;
  margin-left: 15%;
  margin-top: 40px;
}

td{
  border: 1px solid rgb(67, 78, 86);;
  padding: 20px;
}

#job_reference{
  width: 33%;
}

td#startBox{
  background-color: #8DBE8D;
  width: 45%;
}

td#finishBox{
  background-color: #B57C7C;
  width: 45%;
}

td#hoursDone{
  width:10%;
}

#job_start{
  width:33%
}

#job_end{
  width:33%;
}


button#complete{
  margin-top: 30px;
  width: 33%;
  height: 50px;
}

.checkBox{
  display: inline-block;
  width: 20%;
}

#addWorkers{
  width: 33%;
  margin-bottom: 10px;
  padding: 10px;
}


textarea{
  font-size: 1.3em;
  height: 6em;
  width: 33%;
}

select{
  font-size: 1.5em;
  width: 33%;
}

div#clientSelect{
  margin: 10px auto;
}


.bottomMenu{
  margin-top: 5px;
  margin-bottom: 5px;
  width: 30%;
  height: 50px;
  line-height: 35px;
 
 
 
  overflow: hidden;
}


#bottomMenu{
  max-width: 33%;
  margin: 0 auto;
}

#onSite{
  max-width: 33%;
  margin-left: 33%;
}

#menu_select li{
  display: block;
}

#login p{
  text-align: right;
  margin: 0 auto;
}

#login{
  max-width: 25%;
  margin-left: 33%;
}


//////////////////////////////////////////


///        worker Selection screen

/////////////////////////////////////////


#myUserSelect .workForce{
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 30%;
  height: 30px;
  line-height: 10px;
  overflow: hidden;
  margin: 2px;
}

#onSite .workForce{
  max-width: 31%;
  height: 35px;
  overflow: hidden;
  line-height: 10px;
  margin: 2px;
}


#myUserSelect{
  margin-top: 70px;
  width: 33%;
  margin-left: 33%;
}

#doneSelect{
  position: fixed;
  top:90px;
  left:0;
  width: 25%;
  margin-left: 37.5%;
  height: 50px;
  line-height: 35px;
  z-index: 99999;

}

#workerPic{
  width: 100%;
  margin-top: 170px;
}



