// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-device-width:640px), screen and (max-width:640px) {
  @viewport{
    width: auto;
    min-zoom: 0.25;
    max-zoom: 5;
    orientation: portrait;
  }

  p, input { min-width: 100%; }

  #login p {
    text-align: center;
  }

  #loginButton{
    width:45%;
  }

  #login{
  max-width: 100%;
  margin-left: 0;
 
  }

  
  table{
    width: 100%;
    margin-left: 0;
  }

  td{
    padding:8px;
  }

  textarea{
  height: 6em;
  width: 100%;
  }

  table#jobListing{
  width: 99%;
  margin-left: 0;
  }
  
  #bottomMenu{
    max-width: 100%;
    margin-left: 0;
  }

  .bottomMenu{
    width: 80%;
  }
  
  #myUserSelect{
  margin-top: 70px;
  width: 90%;
  margin-left: 5%;
  }

  #doneSelect{
  position: fixed;
  width: 100%;
  margin-left: 0;

  }

  #onSite{
  max-width: 100%;
  margin-left: 0;
  }

  #addWorkers{
  width: 100%;
  margin-left: 0;
  }

  select{
    
    width:100%;
  }

  button#complete{
    width:80%;
  }

  #mortals li{
    width: 25%;
  }


}
